/* Basic Style */
.body__wrapper {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}

.header {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}

.header__img {
  width: 100%;
}

.header__text {
  font-family: fantasy, cursive;
}

@media (max-width:768px) {
  .header {
    text-align: center;
  }
}

.main__wrapper {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}

.task__label,
.task__input {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}

.add__wrapper {
  display: flex;
}

.task_list {
  margin: 0;
  padding: 0px;
}

.task_list>* {
  list-style: none;
}

.add__btn,
.task__btn_del,
.task__btn_edit {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
  outline: none;
}

.task__btn_edit:hover {
  color: #3a3a3a;
}

/* Heading */
.section__label,
.add__label {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}


.task__input,
.add__input {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
  outline: none;
}

.task *:focus,
.add__input:focus {
  color: #333;
}

/* New Task */
.add__label {
  display: block;
  margin: 0 0 20px;
}

.add__input {
  width: 318px;
}

.add__btn:hover {
  color: #0fc57c;
}

/* Task list */
.task * {
  vertical-align: middle;
}

.task {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task__checkbox {
  margin: 0 10px;
}

.task__label {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}

.task__input {
  width: 226px;
}

.task__img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.task__img:hover {
  transform: rotateZ(0);
  filter: invert(9%) sepia(96%) saturate(7234%) hue-rotate(13deg) brightness(101%) contrast(119%);
}

/* Completed */
.done_list .task__input,
.done_list .task__label,{
  text-decoration: line-through;
  color: #888;
}

/* Edit Task  */
.task__input {
  display: none;
}

.task_edit_mode .task__input {
  display: inline-block;
  width: 224px;
}

.task_edit_mode .task__label {
  display: none;
}